:root {
  --background: #fafafa;
  --primary: #0c78fb;
  --text-grey: #606060;
  --light-grey: lightgrey;
  --extra-light-grey: #eeeeee;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--background);
  margin: auto;
  max-width: 1000px;
  padding: 0px 5%;
}
