@font-face {
  font-family: Quicksand;
  font-weight: 300 700;
  src: url('./static/fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
}

:root {
  --background: #fafafa;
  --dark: #000000;
  --extra-light-grey: #eeeeee;
  --light-grey: lightgrey;
  --primary: #0c78fb;
  --text-grey: #606060;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--background);
  margin: auto;
  max-width: 1000px;
  padding: 0px 5%;
}

body.fontLoaded {
  font-family: 'Quicksand', sans-serif;
}
